.body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
    color:brown;

}

/*mem1*/
.mem1 {
    max-width: 600px;
    margin:  20px auto;

}
.mem1-item {
    border: 0px solid #b91125
}
.mem1-title {
    display: block;
    padding: 10px 10px;
    
    color: #b91125;
    cursor: pointer;

    transition: background .2s ease-out;
    
}


.mem1-title:hover {
    background-color: #e95f6f;
}
.mem1-title:after {
    content: '+';
    display: block;
    text-align: right;
    top: 50%;  
    transform: translateY(-50%);  
}

.mem1-input{
    width: 0;
    height: 0;
    
    -webkit-appearance: none;
    appearance: none;
    
    position: absolute;
}


.mem1-input:checked ~ .mem1-title::after {
    border-style: s;
    content: '-';
    
}
.mem1-input:checked + .mem1-text{
    display: block;
}

.mem1-text {
    display: none;

    text-align: center;
    font-size: 14px;

}